This file is used to provide the tests with environment variables used in the methods being tested.

process.env.PRIVATE_KEY = {a private key in base64 format, used to encode the jwt}
process.env.PUBLIC_KEY = {a public key in base64 format, used to decode the jwt}