version: "3.8"

services:

  version: "3.8"

services:
  mongodb:
    container_name: "mongodb-q"
    image: mongo:7.0.2
    volumes: 
      - ./.volumes/mongodb:/data/db

  mongodb-auth:
    container_name: "mongodb-auth"
    image: mongo:7.0.2
    volumes: 
      - ./.volumes/mongodb-auth:/data/db

  redis:
    container_name: "redis"
    image: redis:6.0.9
    ports:
      - "6379:6379"
    volumes:
      - ./.volumes/redis:/data

  quizzie-api:
    container_name: "api"
    build:
      dockerfile: Dockerfile
      context: ./quizzie_api
    volumes:
    - ./quizzie_api:/usr/src/app
    ports:
      - "8086:3000"
    depends_on:
      - mongodb
    restart: on-failure
    environment:
      # The base URL for the application. Defaults to '/' if not provided.
      - PORT=XXXX
      - NODE_PORT=XXXX
      - BASE_URL='/'
      - NODE_ENV="development"
      - DB_CONNECTION_STRING=mongodb://<mongodb service name>:27017/<colection name>
      - LIMIT=10
      - MAX_LIMIT=100
      - QUIZ_API_TOKEN={"token for getting ALL questions"}

  quizzie-front:
    container_name: "quizzie-front"
    build:
      dockerfile: Dockerfile
      context: ./quizzie_front
    ports:
      - "8088:3000"
    volumes:
      - ./src:/usr/src/app/src
      - ./public:/usr/src/app/public
    restart: on-failure
    environment:
      # The base URL for the application. Defaults to '/' if not provided.
      - PORT=XXXX
      - NODE_PORT=XXXX
      - BASE_URL='/'
      - NODE_ENV="development"
      - ORIGIN=""
      - SESSION_SECRET={"provide a session-secret-string"}
      - SESSION_NAME={"provide a session-name-string"}
      - QUIZ_API_TOKEN={"token for getting ALL questions from api, only sent for admin users"}
      - REDIS_PORT={redis port, default: 6379}
      - REDIS_HOST={redis connection string}
      - REDIS_PREFIX={prefix to session name inside redis}
      - API_BASE_URL={"provide a api-base-url-string"}
      - AUTH_REGISTER_URL={register url, auth API}
      - AUTH_LOGIN_URL={login url, auth API}
      - QUESTION_UPLOAD_URL={url to upload question}
      - PUBLIC_KEY={'matching the private key used in auth service to decode jwt'}

  quizzie-auth:
    container_name: "auth"
    build:
      dockerfile: Dockerfile
      context: ./quizzie_auth
    volumes:
    - ./quizzie_auth:/usr/src/app
    ports:
      - "8084:3000"
    depends_on:
      - mongodb-auth
    restart: on-failure
    environment:
    - DB_CONNECTION_STRING="mongodb connection string"
    - PORT='port number'
    - BASE_URL=/
    - NODE_PORT='node port number'
    - ACCESS_TOKEN_SECRET='secret'
    - ACCESS_TOKEN_LIFE='10h'
    - REGISTER_ADMIN_TOKEN={'token do have access to register user as admin (only used with API, not via UI)'}
    - PRIVATE_KEY='used to encrypt the jwt token. Matches the public key used in quizzie api.'
    - NODE_ENV=development

