<div class="home">
    <h1>Welcome to the quizzie language app!</h1>
</div>

<quiz-game>
    <idiom-question class="hidden" id="q0" options='["svar ett", "Detta 채r svaret", "svar tre"]' question="detta 채r fr책gan" answer="Detta 채r svaret"></idiom-question>
    <verb-phrase-question class="hidden" id="q1" meaning="leave a room / building / car" question="GET __" answer="OUT"></verb-phrase-question>
    <vocab-question class="hidden" id="q2" question="Hund" answer="Dog"></vocab-question>
</quiz-game>