## Manual tests front: 2024.04.15

|Test|Sub test|Result|Comment|
|------|------|------|-----|
|1.1: Start view|1.1.1: title|✔️||
||1.1.2: link menu|✔️||
|1.2: Menu links|1.2.1: create quiz|✔️||
||1.2.2: home|✔️||
||1.2.3: login|-|not implemented|
||1.2.4: logout|-|not implemented|
|2.1: Quiz types|2.1.1: vocab|-|not implemented|
||2.1.2: idiom|-|80% implemented|
||2.1.3: verb phrase|-|not implemented|
||2.1.4: mixed|-|not implemented|


## manual tests front 2024.XX.XX
|Test|Sub test|Result|Comment|
|------|------|------|-----|
|1.1: Start view|1.1.1: title|✔️||
||1.1.2: link menu|✔️||
|1.2: Menu links|1.2.1: create quiz|✔️||
||1.2.2: home|✔️||
||1.2.3: login|-|not implemented|
||1.2.4: logout|-|not implemented|
|2.1: Quiz types|2.1.1: vocab|-|not implemented|
||2.1.2: idiom|-|80% implemented|
||2.1.3: verb phrase|-|not implemented|
||2.1.4: mixed|-|not implemented|
|2.2: Quiz game|2.1.1: one qst|-|not implemented|
||2.2.2: answ btn|-|not implemented|
||2.2.3: next btn|-|not implemented|
||2.2.4: next qst|-|not implemented|
||2.2.5: repeat|-|not implemented|
||2.2.6: result|-|not implemented|

