<header>
    <div class="title-wrapper">
       <h1 class="h1-quizzie">Quizzie</h1>
    <% if (locals.user) { %>
        <h2>Playing as: <%= locals.user.username %></h2>
    <% } %> 
    </div>
    
    <nav class="header-nav">
        <ul>
            <% if (locals.user) { %>
                <li><a href="./user/logout"><button>Logout</button></a></li>
            <% } else { %>
                <li><a href="./user/login"><button>Login</button></a></li>
            <% } %>
            <% if (locals.user && locals.user.role === 'admin') { %>
                <li><a href="./quiz/upload"><button>Upload questions</button></a></li>
            <% } %>
            <li><a href="./quiz"><button>create quiz</button></a></li>
            <li><a href="./"><button>Home</button></a></li>
        </ul>
    </nav>
</header>